{% extends "layouts/module_admin.html" %}
{% block breadcrumb %}
<li class="breadcrumb-item"><a href="SileroTTS">SileroTTS</a></li>
{% endblock %}
{% block module %}
<form  method="POST">
        <!-- Поля формы -->
        {{ form.hidden_tag() }}
        <div class="mb-3">
            {{ form.sample_rate.label(class="form-label") }}
            {{ form.sample_rate(class="form-control") }}
        </div>
        <div class="mb-3">
            {{ form.speaker.label(class="form-label") }}
            {{ form.speaker(class="form-control") }}
        </div>
        <div class="mb-3">
            {{ form.put_accent.label(class="form-label") }}
            {{ form.put_accent(class="form-control") }}
        </div>
        <div class="mb-3">
            {{ form.put_yo.label(class="form-label") }}
            {{ form.put_yo(class="form-control") }}
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
</form>
{% endblock %}